target/
.mvn
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea


### NetBeans ###
dist/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

## DB migration
db/